.vagrant
.idea/
target/
*.iml
prometheus/prometheus-2.3.0.darwin-amd64/data/
.data/


# Rails
ruby-on-rails/hello_app/*.rbc
ruby-on-rails/hello_app/capybara-*.html
ruby-on-rails/hello_app/.rspec
ruby-on-rails/hello_app/log
ruby-on-rails/hello_app/tmp
ruby-on-rails/hello_app/db/*.sqlite3
ruby-on-rails/hello_app/db/*.sqlite3-journal
ruby-on-rails/hello_app/public/system
ruby-on-rails/hello_app/coverage/
ruby-on-rails/hello_app/spec/tmp
ruby-on-rails/hello_app/*.orig
ruby-on-rails/hello_app/rerun.txt
ruby-on-rails/hello_app/pickle-email-*.html

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
ruby-on-rails/hello_app/config/initializers/secret_token.rb
ruby-on-rails/hello_app/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
ruby-on-rails/hello_app/.env

## Environment normalization:
ruby-on-rails/hello_app/.bundle
ruby-on-rails/hello_app/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
ruby-on-rails/hello_app/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
ruby-on-rails/hello_app/vendor/assets/bower_components
ruby-on-rails/hello_app/*.bowerrc
ruby-on-rails/hello_app/bower.json

# Ignore pow environment settings
ruby-on-rails/hello_app/.powenv

# Ignore Byebug command history file.
ruby-on-rails/hello_app/.byebug_history

# Ignore node_modules
ruby-on-rails/hello_app/node_modules/

# Ignore precompiled javascript packs
ruby-on-rails/hello_app/public/packs
ruby-on-rails/hello_app/public/packs-test
ruby-on-rails/hello_app/public/assets

# Ignore yarn files
ruby-on-rails/hello_app/yarn-error.log
ruby-on-rails/hello_app/yarn-debug.log*
ruby-on-rails/hello_app/.yarn-integrity

# Ignore uploaded files in development
ruby-on-rails/hello_app/storage/*
ruby-on-rails/hello_app/!/storage/.keep

ruby-on-rails/sample_app/*.rbc
ruby-on-rails/sample_app/capybara-*.html
ruby-on-rails/sample_app/.rspec
ruby-on-rails/sample_app/log
ruby-on-rails/sample_app/tmp
ruby-on-rails/sample_app/db/*.sqlite3
ruby-on-rails/sample_app/db/*.sqlite3-journal
ruby-on-rails/sample_app/public/system
ruby-on-rails/sample_app/coverage/
ruby-on-rails/sample_app/spec/tmp
ruby-on-rails/sample_app/*.orig
ruby-on-rails/sample_app/rerun.txt
ruby-on-rails/sample_app/pickle-email-*.html

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
ruby-on-rails/sample_app/config/initializers/secret_token.rb
ruby-on-rails/sample_app/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
ruby-on-rails/sample_app/.env

## Environment normalization:
ruby-on-rails/sample_app/.bundle
ruby-on-rails/sample_app/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
ruby-on-rails/sample_app/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
ruby-on-rails/sample_app/vendor/assets/bower_components
ruby-on-rails/sample_app/*.bowerrc
ruby-on-rails/sample_app/bower.json

# Ignore pow environment settings
ruby-on-rails/sample_app/.powenv

# Ignore Byebug command history file.
ruby-on-rails/sample_app/.byebug_history

# Ignore node_modules
ruby-on-rails/sample_app/node_modules/

# Ignore precompiled javascript packs
ruby-on-rails/sample_app/public/packs
ruby-on-rails/sample_app/public/packs-test
ruby-on-rails/sample_app/public/assets

# Ignore yarn files
ruby-on-rails/sample_app/yarn-error.log
ruby-on-rails/sample_app/yarn-debug.log*
ruby-on-rails/sample_app/.yarn-integrity

# Ignore uploaded files in development
ruby-on-rails/sample_app/storage/*
ruby-on-rails/sample_app/!/storage/.keep

# SpringBoot
*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/build
/code
MANIFEST.MF
_site/
activemq-data
bin
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
settings.xml
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache


# Chef
chef/learn-chef/.autotest
chef/learn-chef/coverage
chef/learn-chef/.DS_Store
chef/learn-chef/pkg/*
chef/learn-chef/tags
chef/learn-chef/*/tags
chef/learn-chef/*~
chef/learn-chef/.chef
chef/learn-chef/results
chef/learn-chef/cookbooks/webserver_test/.delivery/

# You should check in your Gemfile.lock in applications, and not in gems
external_tests/*.lock
/Gemfile.local

# ignore some common Bundler 'binstubs' directory names
# http://gembundler.com/man/bundle-exec.1.html
b/
binstubs/
.bundle
# RVM and RBENV ruby version files
.rbenv-version
.rvmrc
.ruby-version
.ruby-gemset

# IDE files
.project
.idea

# Documentation
_site/*
.yardoc/
doc/

# Test Kitchen
.kitchen/

# Vagrant
Vagrantfile
.vagrant/

# Kitchen Tests lock files and chef data
kitchen-tests/nodes/*
kitchen-tests/Gemfile.lock
kitchen-tests/Berksfile.lock

# Temporary files present during spec runs
spec/data/test-dir
spec/data/nodes
/config/

vendor/
kitchen-tests/vendor

# Visual Studio Code files
.vscode

# ignore nodes generated during local testing
nodes/

# chef-config
chef-config/.bundle
chef-config/Gemfile.lock

**/.idea/
**/gen/
**/.DS_Store
**/Pods/
**/Podfile.lock
**/xcuserdata/
**/*.xcworkspace/
**/GoogleService-Info.plist
**/web/functions/node_modules
**/web-start/functions/node_modules
**/cloud-functions-start/functions/node_modules
**/cloud-functions/functions/node_modules
**/.firebaserc
**/firebase-debug.log
**/.firebase

# Kotlin
.DS_Store
.idea/shelf
/confluence/target
/dependencies/repo
/android.tests.dependencies
/dependencies/android.tests.dependencies
/dist
/local
/gh-pages
/ideaSDK
/clionSDK
/android-studio/sdk
out/
/tmp
workspace.xml
*.versionsBackup
/idea/testData/debugger/tinyApp/classes*
/jps-plugin/testData/kannotator
/js/js.translator/testData/out/
/js/js.translator/testData/out-min/
/js/js.translator/testData/out-pir/
.gradle/
build/
!**/src/**/build
!**/test/**/build
*.iml
!**/testData/**/*.iml
.idea/libraries/Gradle*.xml
.idea/libraries/Maven*.xml
.idea/artifacts/PILL_*.xml
.idea/artifacts/KotlinPlugin.xml
.idea/modules
.idea/runConfigurations/JPS_*.xml
.idea/runConfigurations/PILL_*.xml
.idea/libraries
.idea/modules.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.name
.idea/artifacts/dist_auto_*
.idea/artifacts/dist.xml
.idea/artifacts/ideaPlugin.xml
.idea/artifacts/kotlinc.xml
.idea/artifacts/kotlin_compiler_jar.xml
.idea/artifacts/kotlin_plugin_jar.xml
.idea/artifacts/kotlin_jps_plugin_jar.xml
.idea/artifacts/kotlin_daemon_client_jar.xml
.idea/artifacts/kotlin_imports_dumper_compiler_plugin_jar.xml
.idea/artifacts/kotlin_main_kts_jar.xml
.idea/artifacts/kotlin_compiler_client_embeddable_jar.xml
.idea/artifacts/kotlin_reflect_jar.xml
.idea/artifacts/kotlin_stdlib_js_ir_*
.idea/artifacts/kotlin_test_js_ir_*
.idea/artifacts/kotlin_stdlib_wasm_*
.idea/jarRepositories.xml
kotlin-ultimate/
node_modules/
.rpt2_cache/
libraries/tools/kotlin-test-js-runner/lib/
local.properties
